In [2]:
import sqlite3

In [12]:
connection = sqlite3.connect('products.db')

cursor = connection.cursor()

cursor.execute(''' CREATE TABLE IF NOT EXISTS Products
(product_id INTEGER PRIMARY KEY AUTOINCREMENT,
product TEXT,
price INTEGER
)''')
# Defining the schema

cursor.execute("SELECT * FROM Products")
print(cursor.fetchall())
# fetchall() is always after SELECT 


# Now let us populate the table
prod = [
    ('Bananas', 60),
    ('Apples', 120),
    ('Oranges', 80),
    ('Mangoes', 200)
]

# cursor.executemany(''' INSERT INTO Products(product, price)
#                    VALUES (?,?)''', prod)

cursor.execute("SELECT * FROM Products")
print(cursor.fetchall())

cursor.execute("SELECT price FROM Products")
print(cursor.fetchall())

cursor.execute("SELECT price FROM Products WHERE price >= 100")
print(cursor.fetchall())

cursor.execute("SELECT * FROM Products WHERE price >= 100")
print(cursor.fetchall())

cursor.execute("UPDATE Products SET price = 180 WHERE price = 200")
print(cursor.fetchall())
# UPDATE does not give any results to print, for that we must fetchall from select * again

cursor.execute("SELECT * FROM Products")
print(cursor.fetchall())

connection.commit()
connection.close()

[(1, 'Bananas', 60), (2, 'Apples', 120), (3, 'Oranges', 80), (4, 'Mangoes', 180)]
[(1, 'Bananas', 60), (2, 'Apples', 120), (3, 'Oranges', 80), (4, 'Mangoes', 180)]
[(60,), (120,), (80,), (180,)]
[(120,), (180,)]
[(2, 'Apples', 120), (4, 'Mangoes', 180)]
[]
[(1, 'Bananas', 60), (2, 'Apples', 120), (3, 'Oranges', 80), (4, 'Mangoes', 180)]